@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo ao Template v1.0.4</h1>
    <p>Visite o meu site cliando <a href="https://mxtheuz.com.br">aqui</a>.</p>
</div>